<style>
    .careers {
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 50% 50%;
    }

    .career {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 23px;
        cursor: pointer;
    }

    .career:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    .career-title {
        font-family: "Lato", sans-serif;
        font-size: 24px;
        color: #3a4245 !important;
    }

    .career-date {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 24px !important;
        color: #c23421 !important;
    }

    .career-speaker {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        margin-top: 20px;
    }

    .link-tag {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0 !important;
    }

    @media only screen and (max-width: 600px) {
        .careers {
            grid-template-columns: 100%;
        }
    }

</style>
<div class="careers">

    {% for career in include.careers %}
    <div class="career">
        <a href="{{ career.link}}" class="link-tag"></a>
        <span class="career-title">{{ career.title }}</span>
        <span class="career-date">Apply by: {{ career.date }}</span>
        <span class="career-sum">{{ career.sum }}</span>
    </div>
    {% endfor %}

</div>