<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-stp.svg') no-repeat center 80px; /*vector position*/
    background-color: #F8DDDE;
    max-height: 330px /* control height of banner */
  }
  
  .bp-hero h3 {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 1.4em;
    color: #333;
  }
  
  .bp-hero-body {
    background: none;
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  .is-hidden-desktop .helper {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .isomer-agency-logo {
    max-height: 50px;
  }


#ul {     
    padding:0;     
    margin:0 
  }
	
.button {
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.2s;
	  cursor: pointer;
        }

.button1 {background-color: #153855;} /* ICA Blue */
.button2 {background-color: #cd0000;} /* ICA Red */

.button1 {
  background-color: #153855; 
  color: white; 
  border: 2px solid #cd0000;
}

.button1:hover {
  background-color: #061018;
  color: white;
}

.button2 {
  background-color: #cd0000; 
  color: white; 
  border: 2px solid #153855;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

	
</style>
<!-- Collaboration logos -->
<section id="collaboration" class="bp-section" style="padding-left:1.5rem; padding-top:0.8rem; padding-bottom:0.8rem; padding-right:1.5rem;"> 
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--lg">
        <p class="padding--bottom eyebrow is-uppercase">
          In Collaboration With
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
   <a href="https://www.ica.gov.sg"><img src="{{site.baseurl}}/images/logo-ica.svg" alt="Immigration and Checkpoints Authority" style="width:90px;"/></a>
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" style="margin-left:60px;"/>
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/1200px-Ministry_of_Education_(Singapore)_logo.svg.png" alt="Ministry of Education" />
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-MFA.jpg" alt="Ministry of Foreign Affairs" />
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/1200px-MOH_Logo.svg.png" alt="Ministry of Health" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/mom-logo-share-hd.png" alt="Ministry of Manpower" />
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" />
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-psd.png" alt="Public Service Division" />
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" />
	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-htx.png" alt="HTX" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" />   
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
	    <div class="col is-one-quarter helper">
		<a href="https://www.ica.gov.sg">
		<img style="width:85px;" href="https://www.ica.gov.sg" src="{{site.baseurl}}/images/logo-ica.svg" alt="Immigration and Checkpoints Authority" /></a></div>
	    <div class="col is-one-quarter helper">  <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" /> 
      </div>    
	<div class="col is-one-quarter helper"><img class="isomer-agency-logo" src="{{site.baseurl}}/images/1200px-Ministry_of_Education_(Singapore)_logo.svg.png" alt="Ministry of Education" /></div>
	<div class="col is-one-quarter helper"><img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-MFA.jpg" alt="Ministry of Foreign Affairs" /></div>
	<div class="col is-one-quarter helper"><img class="isomer-agency-logo" src="{{site.baseurl}}/images/1200px-MOH_Logo.svg.png" alt="Ministry of Health" /></div>
      <div class="col is-one-quarter helper">  <img class="isomer-agency-logo" src="{{site.baseurl}}/images/mom-logo-share-hd.png" alt="Ministry of Manpower" /></div>
	<div class="col is-one-quarter helper"> <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" /></div>
      <div class="col is-one-quarter helper">  <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" /></div>
	<div class="col is-one-quarter helper"><img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-psd.png" alt="Public Service Division" /></div>
	<div class="col is-one-quarter helper"><img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" /></div>
           <div class="col is-one-quarter helper">   <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-htx.png" alt="HTX" />   </div>
	<div class="col is-one-quarter helper">  <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" /></div>
    </div>
  </div>
</section>