<style>
    .partners {
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .partner {
        display: flex;
        flex-direction: column;
        padding: 23px;
    }

    .partner-img {
        margin: 10px;
    }

    @media only screen and (max-width: 600px) {
        .partners {
            grid-template-columns: 100%;
        }

        .partner-img {
            padding: 10px;
        }
    }

</style>
<div class="partners">

    {% for partner in include.partners %}
    <div class="partner">
        <img class="partner-img" src="{{ partner.link }}" alt="{{ partner.name }}">
    </div>
    {% endfor %}

</div>