<style>
    .projparts {
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .projpart {
        display: flex;
        flex-direction: column;
        padding: 23px;
    }

    .projpart-img {
        margin: 10px;
        height: 70px;
        object-fit: contain;
    }

    @media only screen and (max-width: 600px) {
        .projparts {
            grid-template-columns: 100%;
        }

        .projpart-img {
            padding: 10px;
        }
    }

</style>
<div class="projparts">

    {% for projpart in include.projparts %}
    <div class="projpart">
        <img class="projpart-img" src="{{ projpart.link }}" alt="{{ projpart.name }}">
    </div>
    {% endfor %}

</div>